body {
	background: url("../work/background.jpg") no-repeat;
	width: 100px;
	height: 100vh;
	display: inline;
	background-size: 100%;
	text-align: center;
}
h1 {
	font-weight: bold;
	margin-top: 20vh;
    color: black;
    font-size: 10vh;
}
h1:hover {
	color: green;
}
h2 {
	font-weight: bold;
	color: black;
}
h2:hover {
	color: green;
}
h3 {
	font-weight: bold;
	color: black;
}
h3:hover {
	color: green;
}

h5 {
	font-weight: bold;
	color: black;
}
h5:hover {
	color: green;
}
p {
	text-align: left;
	margin-left: 10vh;
	margin-right: 10vh;
	color: black;
	font-size: 3vh;
	font-weight: bold;
}
p:hover {
	color: green;
	font-size: 3vh;
}
.ref {
	text-align: center;
	cursor: pointer;
}
.ref a {
	font-weight: bold;
	position: relative;
	color: black;
	display: block;
	text-align: center;
	padding: 15px;
    text-decoration: none;
}
a:hover {
	color: green;
}
nav {
	width: 100%;
	margin: 0;
	padding: 0;
	background: rgba(0, 0, 0, .3);
	position: relative;
	top: 5vh;
	display: inline-block;
	
}
nav ul {
	position: relative;
	display: inline-block;
	padding: 5px;
	float: right;
}
ul li a {
	color: black;
	text-align: left;
	display: inline-block;
	text-decoration: none;
	padding: 0;
}
ul li ul li a{
	color: black;
	text-align: left;
	text-decoration: none;
	padding: 0;
	display: block;
}
li {
	position: relative;
	display: inline;
	text-align: right;
	margin-right: 10vh;
	font-size: 3vh;
    float: right;
}
ul li a:hover {
	color: green;
}
ul li ul {
	padding: 0;
	margin: 0;
	position: absolute;
}
ul li:hover ul {
	display: block;
}
ul ul {
	position: relative;
	min-width: 200px;
	background: lightgrey;
	display: none;
}