.container {
  display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.container div {
margin:0;
box-sizing: border-box;

}
 .box1 {
   background-color: red;
   width: 100%;
 }
 .box2 {
   background-color: yellow;
   width: 25%;

 }
 .box3 {
   background-color: aqua;
   width: 50%;

 }
.box4 {
  background-color: purple;
  width: 25%;


}
.box5 {
background-color: green;
width: 100%;

}
